# ==========================
# Django Configuration
# ==========================
DJANGO_API_URL=http://127.0.0.1:8000/api/ml
DJANGO_MEDIA_PATH=D:/ModelForge-AI/django_backend/media

# ==========================
# Server Configuration
# ==========================
NODE_ENV=development
PORT=5000

# ==========================
# MongoDB Configuration
# ==========================
MONGODB_URI=mongodb://localhost:27017/ModelForge-AI

# ==========================
# JWT Configuration
# ==========================
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# ==========================
# Frontend Configuration
# ==========================
FRONTEND_URL=http://localhost:5173

# ==========================
# File Upload Configuration
# ==========================
UPLOAD_PATH=src/uploads
MAX_FILE_SIZE=104857600

# ==========================
# Logging Configuration
# ==========================
LOG_LEVEL=info


# ==========================
# Email / SMTP Configuration
# ==========================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=""
EMAIL_PASSWORD=""

# ==========================
# Email / Resend Configuration
# ==========================

RESEND_API_KEY=
RESEND_FROM_EMAIL="YOUR EMAIL_ID"